@model PIOAccount.Models.Subcategory
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    int isAdministrator = HttpContextAccessor.HttpContext.Session.GetInt32("IsAdministrator").Value;
    List<PIOAccount.Models.CategoryModel> catList = ViewBag.catList as List<PIOAccount.Models.CategoryModel>;
    List<SelectListItem> layoutList = ViewBag.layoutList as List<SelectListItem>;
    List<SelectListItem> pageNoList = ViewBag.pageNoList as List<SelectListItem>;
    var userRight = ViewBag.userRight as PIOAccount.Models.UserFormRightModel;
    ViewData["Title"] = userRight.ModuleNm;
    string headerAdd = "";
    string headerList = "";
    string gridAdd = "";
    string gridList = "";
    bool headerAddTrue = false;
    bool headerListTrue = false;

    if (userRight != null && (userRight.IsAdd || userRight.IsEdit) && userRight.IsList)
    {
        headerList = "active";
        gridList = "show active";
        headerAddTrue = true;
    }
    else if (userRight != null && (userRight.IsAdd || userRight.IsEdit))
    {
        headerAdd = "active";
        gridAdd = "show active";
        headerAddTrue = true;
    }
    else if (userRight != null && userRight.IsList)
    {
        headerList = "active";
        gridList = "show active";
        headerAddTrue = true;
    }
}


<div class="card card-primary" style="background-color:antiquewhite">
    <div class="card-header" style="font-family:Verdana">
        <h6> @ViewData["Title"]</h6>
    </div>
    <div class="card-body">
        <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                    @if (userRight != null && userRight.IsList)
                    {
                        <li class="nav-item">
                            <a class="nav-link @headerList" id="custom-tabs-three-list-tab" data-toggle="pill" href="#custom-tabs-three-list" role="tab" aria-controls="custom-tabs-three-list" aria-selected="@headerListTrue" style="font-family:Verdana;font-size:small" onclick="GoToListTab()">List (Alt+L)</a>
                        </li>
                    }
                    @if (userRight != null && (userRight.IsAdd || userRight.IsEdit))
                    {
                        <li class="nav-item">
                            <a class="nav-link @headerAdd" id="custom-tabs-three-add-tab" data-toggle="pill" href="#custom-tabs-three-add" role="tab" aria-controls="custom-tabs-three-add" aria-selected="@headerAddTrue" style="font-family:Verdana;font-size:small" onclick="GoToAddTab()">Add/Update (F2)</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="card-body" style="background-color:aliceblue">
                <div class="col-md-12">
                    <div class="tab-content" id="custom-tabs-three-tabContent">
                        @if (userRight != null && userRight.IsList)
                        {
                            <div class="tab-pane fade  @gridList" id="custom-tabs-three-list" role="tabpanel" aria-labelledby="custom-tabs-three-list-tab">
                                <div class="table-responsive mt-2" style="font-family:Verdana;font-size:small;font-display:inherit">
                                    <div class="col-md-12 col-12 mb-2 mt-2">
                                        <div class="row">
                                            <div class="col-md-1 mb-2 float-left">
                                                <select class="form-control form-control-sm" onchange="loadData()" id="drpReportPageNoDatable">
                                                    @for (int i = 0; i < pageNoList.Count; i++)
                                                    {
                                                        string checkedd = "checked";
                                                        <option checked="@checkedd" value="@pageNoList[i].Value">@pageNoList[i].Text</option>
                                                        checkedd = string.Empty;
                                                    }

                                                </select>
                                            </div>
                                            <div class="col-md-5 col-12">
                                                <div class="row">
                                                    <div class="col-md-6 col">
                                                        <select class="form-control select2 drpReportLayout" onchange="loadData()">
                                                            <option value="" ; style="width:200px">--Select Layout--</option>
                                                            @if (layoutList != null && layoutList.Count > 0)
                                                            {
                                                                foreach (var item in layoutList)
                                                                {
                                                                    <option value="@item.Value">@item.Text </option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2 col-auto mb-2 custommt-2-3">
                                                        @if (isAdministrator == 1)
                                                        {
                                                            <button class="btn btn-dark btn-sm text-white" style="font-family:Verdana;font-size:medium" onclick="window.open('/GridMaster/Index/' + $('.drpReportLayout').val(), '_blank');">
                                                                Edit
                                                            </button>
                                                        }
                                                    </div>
                                                    <div class="col-md-4 mb-2 custommt-2-3">
                                                        <button class="btn btn-primary btn-sm" id="btnExportToExcel">Excel</button>
                                                        <button class="btn btn-primary btn-sm ml-6" id="btnExportToPDF">PDF</button>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3 col-12 float-right">
                                                <input type="text" class="form-control form-control-sm" placeholder="Search" id="txtReportSearchDataTable" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dataTable">

                                    </div>
                                    <div class="pager float-right"></div>
                                </div>
                            </div>
                        }
                        @if (userRight != null && (userRight.IsAdd || userRight.IsEdit))
                        {
                            <div class="tab-pane fade @gridAdd" id="custom-tabs-three-add" role="tabpanel" aria-labelledby="custom-tabs-three-add-tab">
                                <form method="post" class="mt-1">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">


                                                <div class="row">
                                                    <label class="control-label col-md-2 col-sm-2 col-xs-12 font-weight-bold customLabel" style="font-family:Verdana">
                                                        Category Name  <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-9 d-flex form-outline form-white mb-2" tabindex=" = 2">
                                                        @Html.DropDownListFor(x => x.CatVou, Model.LstCategory, "Select", new { @class = "form-control select2 CatgType", @tabindex = "1", onfocus = "this.select()", style = "font-family: Verdana;font-size:small; height:35px; width: 348px;", @required = "required" })
                                                        @*<a class="btn btn-outline-info ml-2" href="/StateMaster/index" target="_blank"><i class="fa fa-plus"></i></a>*@
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <label class="control-label col-md-2 col-sm-2  font-weight-bold customLabel" style="font-family:Verdana">
                                                        SubCategory Name <span class="required">*</span>
                                                    </label>
                                                    <input type="hidden" name="CategType" />
                                                    <div class="col-md-auto col-12 form-outline form-white mb-2">
                                                        <input type="text" id="txtCatName" name="SubCatNm" onfocus="this.select()" class="form-control form-control-lg" placeholder="SubCategory Name"
                                                               tabindex="2" value="@Model.SubCatNm" style="font-family: Verdana;font-size:small; height:35px;width:350px" required />
                                                    </div>
                                                </div>


                                                <div class="row">
                                                    <label class="control-label col-md-2 col-sm-2  font-weight-bold customLabel" style="font-family:Verdana">
                                                        Short Name <span class="required"></span>
                                                    </label>
                                                    <div class="col-md-auto col-12 form-outline form-white mb-2">
                                                        <input type="text" id="txtShortName" name="SubCatCd" onfocus="this.select()" class="form-control form-control-lg" placeholder="Short Name"
                                                               tabindex="3" value="@Model.SubCatCd" style="font-family: Verdana;font-size:small; height:35px;width:350px" />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="control-label col-md-2 col-sm-2  font-weight-bold customLabel" style="font-family:Verdana">
                                                        Remarks <span class="required"></span>
                                                    </label>
                                                    <div class="col-md-auto col-12 form-outline form-white mb-2">
                                                        <input type="text" id="txtShortName" name="Remarks" onfocus="this.select()" class="form-control form-control-lg" placeholder="Remarks"
                                                               tabindex="4" value="@Model.Remarks" style="font-family: Verdana;font-size:small; height:35px;width:350px" />
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12 text-center">
                                                        @if (userRight.IsEdit && Model != null && Model.SubCatVou > 0)
                                                        {
                                                            <button class="btn btn-primary px-md-4 mb-2 text-white" style="font-family:Verdana;font-size:medium" id="btnSave">
                                                                Save (F10)
                                                            </button>
                                                            <a href="/Subcategory/index" class="btn btn-warning px-md-4 mb-2 text-dark" style="font-family:Verdana;font-size:medium">
                                                                Cancel (Esc)
                                                            </a>
                                                        }
                                                        else if (userRight.IsAdd && Model.SubCatVou == 0)
                                                        {
                                                            <button class="btn btn-primary px-md-4 mb-2 text-white" style="font-family:Verdana;font-size:medium" id="btnSave">
                                                                Save (F10)
                                                            </button>
                                                            <a href="/Subcategory/index" class="btn btn-warning px-md-4 mb-2 text-dark" style="font-family:Verdana;font-size:medium">
                                                                Cancel (Esc)
                                                            </a>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var CatName = '@Html.Raw(Model.SubCatNm)';
        if (CatName != null && CatName != '') {
            GoToAddTab()
        }
        else {
            GoToListTab()
        }
        var status = '@Html.Raw(ViewBag.FocusType)';
        if (status != null && status != '') {
            if (status == "0") {
                $("#txtCatName").focus();
            }
            if (status == "1") {
                $("#txtCatName").focus();
            }
        }
        else {
            $("#txtCatName").focus();
        }
    });

    function GoToAddTab() {
        $('#custom-tabs-three-list-tab').removeClass('active');
        $('#custom-tabs-three-add-tab').addClass('active');

        $('#custom-tabs-three-list').removeClass('active');
        $('#custom-tabs-three-add').addClass('active');
        $('#custom-tabs-three-add').addClass('show');
        document.getElementById('CatVou').focus();
    }
    function GoToListTab() {
        $('#custom-tabs-three-list-tab').addClass('active');
        $('#custom-tabs-three-add-tab').removeClass('active');

        $('#custom-tabs-three-list').addClass('active');
        $('#custom-tabs-three-list').addClass('show');
        $('#custom-tabs-three-add').removeClass('active');
        $('#custom-tabs-three-add').removeClass('show');
        $('#txtReportSearchDataTable').focus();
    }
</script>
<script>
    var isRecentCalledEsc = false;
    (function (code) {
        code(window.jQuery, document, window);
    }(function ($, document, window) {
        $(function () {
            $(window)
                .initKeyboard({ debug: 1 })
                .on('F2', function () {
                    GoToAddTab()
                }).on('F10', function () {
                    $("#btnSave").click();
                })
                .on('Alt+L', function () {
                    GoToListTab();
                })
                .on('Alt+C', function () {
                    if (confirm("Do you want to exit without save?")) {
                        location.href = '/Subcategory/Index'
                    }
                    else {
                        $('#txtCatName').focus();
                    }

                }).on('Escape', function () {
                    if (!isRecentCalledEsc) {
                        isRecentCalledEsc = true;
                        if (confirm("Do you want to exit without save?")) {
                            location.href = '/Subcategory/Index'
                        }
                        //else {
                        //    $('#txtCatName').focus();
                        //}
                        setTimeout(function () {
                            isRecentCalledEsc = false;
                        }, 500)
                    }

                })
        });
    }));
</script>

<script>

    var isRecentCalled = false;


    $(function () {

        loadData();
        var pageIndex = '';
        var pageSize = '';
        var totalRecord = '';
        var isDelete = '@Html.Raw(userRight.IsDelete)';
        var isEdit = '@Html.Raw(userRight.IsEdit)';
    })

    var timer = null;
    $('#txtReportSearchDataTable').keyup(function (e) {
        if (e.keyCode >= 112 && e.keyCode <= 123) {
            e.preventDefault();
            return false;
        }
        else {
            clearTimeout(timer);

            timer = setTimeout(loadData, 1000)
        }

    });

    function loadData(pageIndex, columnName, sortBy) {
            isRecentCalled = true;
            if (pageIndex == undefined || pageIndex == "" || pageIndex == "0" || pageIndex == 0) {
                pageIndex = 1;
            }
            var layoutId = $('.drpReportLayout').val();

            if (!layoutId) {
                $('.drpReportLayout').val($('.drpReportLayout').children('option').eq(1).prop('value'));
                //SetSelect2()

            }
            if (!columnName) {
                columnName = '';
            }
            if (!sortBy) {
                sortBy = '';
            }
            $('.dataTable').html();
            $.ajax({
                url: '/Subcategory/GetReportView',
                type: 'GET',
                data: { pageIndex: pageIndex, pageSize: $('#drpReportPageNoDatable').val(), searchValue: $('#txtReportSearchDataTable').val(), gridMstId: $('.drpReportLayout').val(), columnName: columnName, sortby: sortBy },
                dataType: 'HTML',
                traditional: true, // add this
                success: function (data) {
                    $('.dataTable').html(data);
                    setTimeout(function () {
                        isRecentCalled = false;
                    }, 2000)
                },
                failure: function (response) {
                    errorMessage(response);
                }
            });
    }

    $('#btnExportToExcel').click(function () {
        window.location.href = "/Subcategory/ExportToExcelPDF?gridMstId=" + $('.drpReportLayout').val() + "&searchValue=" + $('#txtReportSearchDataTable').val() + "&type=1";
    })
    $('#btnExportToPDF').click(function () {
        window.location.href = "/Subcategory/ExportToExcelPDF?gridMstId=" + $('.drpReportLayout').val() + "&searchValue=" + $('#txtReportSearchDataTable').val() + "&type=2";
    })
</script>
<script>
    $(function () {
        var Cattype = $('#CatgType').children('option:selected').text()
        if (Cattype)
            $('input[name="CategType"]').val(Cattype);
    })

    $('#CatgType').change(function () {
        var Cattype = $('#CatgType').children('option:selected').text()
        if (Cattype)
            $('input[name="CategType"]').val(Cattype);
    })
</script>

<script>
    $(document).ready(function () {
        $(".CatgType").select2({
            placeholder: "---Select---",
            ajax: {
                url: '/Subcategory//Subcategory/GetState-List',
                data: function (params) {
                    return {
                        q: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.items
                    }
                },

            }
        });

        $(".CatgType").select2({
            placeholder: "---Select---",
        });

        $('.drpReportLayout').select2({
            placeholder: "---Select---",
        });
    });

</script>
